body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.configuration-label {
    font-size: 12px;
    line-height: 14px;
    margin: 10px;
    min-width: 75px;
    padding: 4px 0 2px 0;
    color: #424245;
    display: inline-block;
}

.configuration-selector {
    margin: 10px;
    height: 20px;
    padding: 0 5px;
    position: relative;
}

    .configuration-selector:hover {
        cursor: pointer;
    }
